<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/dashboard.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="../static/images/tuhu.png" height="35" width="35"/></a>
            <h3 class="navbar-text">途虎订餐系统</h3>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">登录</a></li>
                <li><a href="#">余加</a></li>
                <p class="navbar-text">部门代理人</p>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <img src="../static/images/chifan1.jpg" height="100" width="100"/>
            <ul class="nav nav-sidebar">
                <li class="active"><a href="home.html">订餐 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">个人订餐信息</a></li>
                <li><a href="#">部门订餐信息</a></li>
                <li><a href="#">公司订餐信息</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href=""></a></li>
                <li><a href="">Nav item again</a></li>
                <li><a href="">One more nav</a></li>
                <li><a href="">Another nav item</a></li>
                <li><a href="">More navigation</a></li>
            </ul>
        </div>
        <div class="col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3 main">
            <h2 class="sub-header">日式照烧鸡套餐</h2>
            <div class="row">
                <div class="col-xs-8 col-sm-4">
                    <img src="../static/images/taocan1.jpg" width="250" class="img-responsive" alt="Responsive image">
                </div>
                <div class="col-xs-8 col-sm-4">
                    <p>配上精美色拉，荤素搭配更美味，大师精心烹饪，让工作一天的你在公司也能享受到美味的晚餐</p>
                    <div class="row top-buffer">
                        <div class="col-xs-8 col-sm-4">
                            <div id="star"></div>
                        </div>
                        <div class="col-xs-8 col-sm-4">
                            <strong>3.5</strong>
                        </div>
                    </div>
                </div>
                <div class="col-xs-8 col-sm-4">
                    <img src="../static/images/dingcan.jpg" class="img-circle" height="100" width="100"/>

                    <button type="button" class="btn btn-default">我要这个！</button>

                </div>
            </div>
            <h2 class="sub-header">评论</h2>
            <div class="row top-buffer">
                <div class="media">
                    <div class="media-left">
                        <div id="star1"></div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">我觉得一般般吧</h4>
                        2018年7月12日
                    </div>
                </div>
            </div>
            <div class="row top-buffer">
                <div class="media">
                    <div class="media">
                        <div class="media-left">
                            <div id="star2"></div>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">这个太好吃了(╹ڡ╹ )，但我也想换个口味，我想吃鱼排，我要继续努力工作工作工作工作工作个工作！！！</h4>
                            2018年7月12日
                        </div>
                        <div class="media-right">
                            <a href="#">
                            <img src="../static/images/taocan5.jpg" height="80" class="img-rounded">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
            </div>
            <div class="row top-buffer">
                <div class="col-xs-4 col-sm-2">
                    <img src="../static/images/zhuyi.jpg" height="100" width="100"/>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <h1></h1>
                    <img src="../static/images/tip.png" height="46" width="980"/>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/js/jquery.raty.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#star').raty({
            readOnly: true,
            score: 3.5,
            path: '../static/images',
        });
        $('#star1').raty({
            readOnly: true,
            score: 2,
            path: '../static/images',
        });
        $('#star2').raty({
            readOnly: true,
            score: 4,
            path: '../static/images',
        });
    });
</script>
</body>
</html>
