<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuhu.future.mybatis.integration.dal.mapper.DishesDOMapper">
  <resultMap id="BaseResultMap" type="com.tuhu.future.mybatis.integration.dal.dataobject.DishesDO">
    <id column="dishe_id" jdbcType="INTEGER" property="disheId" />
    <result column="dishe_des" jdbcType="VARCHAR" property="disheDes" />
    <result column="dishe_name" jdbcType="VARCHAR" property="disheName" />
    <result column="dishe_photo" jdbcType="VARCHAR" property="dishePhoto" />
    <result column="dishe_create_time" jdbcType="TIMESTAMP" property="disheCreateTime" />
    <result column="dishe_update_time" jdbcType="TIMESTAMP" property="disheUpdateTime" />
    <result column="dishe_is_delete" jdbcType="VARCHAR" property="disheIsDelete" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    dishe_id, dishe_des, dishe_name, dishe_photo, dishe_create_time, dishe_update_time, 
    dishe_is_delete
  </sql>
  <select id="selectByExample" parameterType="com.tuhu.future.mybatis.integration.dal.dataobject.DishesDOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from tb_dishes
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_dishes
    where dishe_id = #{disheId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_dishes
    where dishe_id = #{disheId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.tuhu.future.mybatis.integration.dal.dataobject.DishesDOExample">
    delete from tb_dishes
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tuhu.future.mybatis.integration.dal.dataobject.DishesDO">
    insert into tb_dishes (dishe_id, dishe_des, dishe_name, 
      dishe_photo, dishe_create_time, dishe_update_time, 
      dishe_is_delete)
    values (#{disheId,jdbcType=INTEGER}, #{disheDes,jdbcType=VARCHAR}, #{disheName,jdbcType=VARCHAR}, 
      #{dishePhoto,jdbcType=VARCHAR}, #{disheCreateTime,jdbcType=TIMESTAMP}, #{disheUpdateTime,jdbcType=TIMESTAMP}, 
      #{disheIsDelete,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="disheId" parameterType="com.tuhu.future.mybatis.integration.dal.dataobject.DishesDO">
    insert into tb_dishes
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="disheId != null">
        dishe_id,
      </if>
      <if test="disheDes != null">
        dishe_des,
      </if>
      <if test="disheName != null">
        dishe_name,
      </if>
      <if test="dishePhoto != null">
        dishe_photo,
      </if>
      <if test="disheCreateTime != null">
        dishe_create_time,
      </if>
      <if test="disheUpdateTime != null">
        dishe_update_time,
      </if>
      <if test="disheIsDelete != null">
        dishe_is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="disheId != null">
        #{disheId,jdbcType=INTEGER},
      </if>
      <if test="disheDes != null">
        #{disheDes,jdbcType=VARCHAR},
      </if>
      <if test="disheName != null">
        #{disheName,jdbcType=VARCHAR},
      </if>
      <if test="dishePhoto != null">
        #{dishePhoto,jdbcType=VARCHAR},
      </if>
      <if test="disheCreateTime != null">
        #{disheCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="disheUpdateTime != null">
        #{disheUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="disheIsDelete != null">
        #{disheIsDelete,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tuhu.future.mybatis.integration.dal.dataobject.DishesDOExample" resultType="java.lang.Long">
    select count(*) from tb_dishes
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.tuhu.future.mybatis.integration.dal.dataobject.DishesDO">
    update tb_dishes
    <set>
      <if test="disheDes != null">
        dishe_des = #{disheDes,jdbcType=VARCHAR},
      </if>
      <if test="disheName != null">
        dishe_name = #{disheName,jdbcType=VARCHAR},
      </if>
      <if test="dishePhoto != null">
        dishe_photo = #{dishePhoto,jdbcType=VARCHAR},
      </if>
      <if test="disheCreateTime != null">
        dishe_create_time = #{disheCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="disheUpdateTime != null">
        dishe_update_time = #{disheUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="disheIsDelete != null">
        dishe_is_delete = #{disheIsDelete,jdbcType=VARCHAR},
      </if>
    </set>
    where dishe_id = #{disheId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tuhu.future.mybatis.integration.dal.dataobject.DishesDO">
    update tb_dishes
    set dishe_des = #{disheDes,jdbcType=VARCHAR},
      dishe_name = #{disheName,jdbcType=VARCHAR},
      dishe_photo = #{dishePhoto,jdbcType=VARCHAR},
      dishe_create_time = #{disheCreateTime,jdbcType=TIMESTAMP},
      dishe_update_time = #{disheUpdateTime,jdbcType=TIMESTAMP},
      dishe_is_delete = #{disheIsDelete,jdbcType=VARCHAR}
    where dishe_id = #{disheId,jdbcType=INTEGER}
  </update>
</mapper>