<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuhu.future.mybatis.integration.dal.mapper.EmployDOMapper">
  <resultMap id="BaseResultMap" type="com.tuhu.future.mybatis.integration.dal.dataobject.EmployDO">
    <id column="employee_id" jdbcType="INTEGER" property="employeeId" />
    <result column="employee_department_id" jdbcType="INTEGER" property="employeeDepartmentId" />
    <result column="employee_email" jdbcType="VARCHAR" property="employeeEmail" />
    <result column="employee_department" jdbcType="VARCHAR" property="employeeDepartment" />
    <result column="employee_name" jdbcType="VARCHAR" property="employeeName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    employee_id, employee_department_id, employee_email, employee_department, employee_name
  </sql>
  <select id="selectByExample" parameterType="com.tuhu.future.mybatis.integration.dal.dataobject.EmployDOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from tb_employ
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_employ
    where employee_id = #{employeeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_employ
    where employee_id = #{employeeId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.tuhu.future.mybatis.integration.dal.dataobject.EmployDOExample">
    delete from tb_employ
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tuhu.future.mybatis.integration.dal.dataobject.EmployDO">
    insert into tb_employ (employee_id, employee_department_id, 
      employee_email, employee_department, employee_name
      )
    values (#{employeeId,jdbcType=INTEGER}, #{employeeDepartmentId,jdbcType=INTEGER}, 
      #{employeeEmail,jdbcType=VARCHAR}, #{employeeDepartment,jdbcType=VARCHAR}, #{employeeName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tuhu.future.mybatis.integration.dal.dataobject.EmployDO">
    insert into tb_employ
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="employeeId != null">
        employee_id,
      </if>
      <if test="employeeDepartmentId != null">
        employee_department_id,
      </if>
      <if test="employeeEmail != null">
        employee_email,
      </if>
      <if test="employeeDepartment != null">
        employee_department,
      </if>
      <if test="employeeName != null">
        employee_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="employeeId != null">
        #{employeeId,jdbcType=INTEGER},
      </if>
      <if test="employeeDepartmentId != null">
        #{employeeDepartmentId,jdbcType=INTEGER},
      </if>
      <if test="employeeEmail != null">
        #{employeeEmail,jdbcType=VARCHAR},
      </if>
      <if test="employeeDepartment != null">
        #{employeeDepartment,jdbcType=VARCHAR},
      </if>
      <if test="employeeName != null">
        #{employeeName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tuhu.future.mybatis.integration.dal.dataobject.EmployDOExample" resultType="java.lang.Long">
    select count(*) from tb_employ
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.tuhu.future.mybatis.integration.dal.dataobject.EmployDO">
    update tb_employ
    <set>
      <if test="employeeDepartmentId != null">
        employee_department_id = #{employeeDepartmentId,jdbcType=INTEGER},
      </if>
      <if test="employeeEmail != null">
        employee_email = #{employeeEmail,jdbcType=VARCHAR},
      </if>
      <if test="employeeDepartment != null">
        employee_department = #{employeeDepartment,jdbcType=VARCHAR},
      </if>
      <if test="employeeName != null">
        employee_name = #{employeeName,jdbcType=VARCHAR},
      </if>
    </set>
    where employee_id = #{employeeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tuhu.future.mybatis.integration.dal.dataobject.EmployDO">
    update tb_employ
    set employee_department_id = #{employeeDepartmentId,jdbcType=INTEGER},
      employee_email = #{employeeEmail,jdbcType=VARCHAR},
      employee_department = #{employeeDepartment,jdbcType=VARCHAR},
      employee_name = #{employeeName,jdbcType=VARCHAR}
    where employee_id = #{employeeId,jdbcType=INTEGER}
  </update>

  <select id="selectByEmail" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_employ
    where employee_email = #{employee_email, jdbcType=VARCHAR}
  </select>
</mapper>